include layout

block styles
  link(rel="stylesheet",type="text/css",href="app.css")


block content

  .top-region
    p.welcome welcome
      strong
        = user.username

  .middle-region

    .left-column
      #feed-list-region
    .right-column
      #entries-region

  .bottom-region made by coderek

script(src="app.js")

script.
  var fds = !{JSON.stringify(feeds)};
  require('scripts')