include layout

block styles


block content

  .top-region.container
    .row
      .col-sm-3
        strong.welcome
          i.fa.fa-th.fa-fw
          span.brand Geek Reader
      #feed-meta-region.col-sm-9.hidden-xs

  .middle-region

    .left-column
      #feed-form
        .input-group
          input.form-control(placeholder="Feed url").input-sm
          .input-group-btn
            button.btn.btn-success(data-action="add-feed").btn-sm
              i.fa
              | Add Feed

      #feed-list-region
    .right-column
      #entries-region

  .bottom-region
    .copy-right Derek Zeng@2015

script(src="/app.js")
script(src="/vendor.js")

script.
  Bugsnag.apiKey = '3a19b2eb82ec42ad18bb5d8094d4ab92';
  var fds = !{JSON.stringify(feeds)};
  require('scripts')