include layout

block styles


block content

  .top-region
    strong.welcome
      i.fa.fa-th.fa-fw
      span.brand Geek Reader
      //strong
      //  = user.username
    #feed-meta-region

  .middle-region

    .left-column
      #feed-list-region
    .right-column
      #entries-region

  .bottom-region
    .container
      .form-horizontal
        #feed-form
          .col-md-offset-6.col-md-6
            .input-group
              input.form-control(placeholder="Feed url")
              .input-group-btn
                button.btn.btn-success(data-action="add-feed")
                  i.fa
                  | Add Feed

script(src="/app.js")

script.
  var fds = !{JSON.stringify(feeds)};
  require('scripts')