include layout

block styles
  link(rel="stylesheet",type="text/css",href="app.css")


block content

  .top-region
    p.welcome welcome
      strong
        = user.username

  .middle-region

    .left-column
      ul.feed-list.list-unstyled
        each feed in feeds
          li.feed
            = feed.title
    .right-column

  .bottom-region made by coderek

script(src="app.js")

script.
  require('scripts')