@media (max-width: 650px) {
    body {
        display: block;
        overflow: auto;
    }

    .top-region, .middle-region, .bottom-region {
        display: block;
        max-width: 100%;
    }

    .left-column {
        position: absolute;
        z-index: 2;
    }
    .middle-region {
        z-index: 2;
    }

    .bottom-region {
        margin-top: 10px;
        padding-top: 10px;
//        border-top: 1px solid #888;
        z-index: 1;
    }

    #feed-meta-region {
        time {
            float: none !important;
        }
    }
}