// phone
@media (max-width: 650px) {
    body {
        display: block;
        overflow: auto;
    }
    .top-region {
    }

    .middle-region, .bottom-region {
        display: block;
        .right-column {
            width: 100%;
        }
    }

    #feed-meta-region {
        time {
            float: none !important;
        }
    }
}