@import "../../bower_components/normalize-scss/normalize";

@import "variables";
@import "../../bower_components/bourbon/dist/bourbon";
@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/toastr/toastr";
@import "auth";
@import "article";
@import "mixins";


$tool-color: #e0dde7;
body, html {
    height: 100%;
    width: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

a {
    color: #00B7FF;
}

.top-region {
    @include top-region;
    background-color: #efefef;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: fixed;
    box-shadow: 0 1px 10px #000;
    .welcome {
        @include welcome;
    }
    #feed-meta-region {
        .title {
            font-weight: bold;
        }
    }
}

.middle-region {
    display: flex;

    overflow-y: scroll;

    .left-column {
        margin-top: 40px;
        padding-top: 10px;
        position: fixed;
        left: 0;
        width: 320px;
        overflow-y: auto;
        background-color: #efefef;
        z-index: 2;
        border-right: 1px solid darken(#efefef, 5%);
        box-shadow: 4px 0px 10px 0px #525252;
        @include transition(left 0.5s);
        height: 100%;
    }
    .left-column.off {
        left: -320px;
    }

    .right-column {
        width: 800px;
        margin: 50px auto;
        background-color: white;
    }
    margin-bottom: 10px;
}

#feed-form {
    input {
        border: none;
    }
    margin: 10px;
}


$feed-item-bg: #c2c2c2;
#feed-list-region {
    padding: 0 15px;
    li.active {
        @include selected-feed-item;
    }
    li {
        padding: 4px;
        margin: 0;
        color: #5b8187;

        .title {
            @include ellipsis;
        }
        .author {
            color: $text-muted;
            font-size: 80%;
        }
    }
    li:hover {
        @include hover-feed-item;
    }
}

$visited-article-title-bg: #78b0e0;
$visited-article-title-color: #fff;
$article-title-bg: #ffffff;

.article {
    &.is-read {
        .title {
            background-color: $visited-article-title-bg;
            color: $visited-article-title-color;
            border: $visited-article-title-color;
            .fa.fa-link {
                color: #fff;
            }
        }
    }
    .title {
        background-color: $article-title-bg;
        margin: 0;
        padding: 10px;

        &:hover {
            background-color: darken($article-title-bg, 10%);
            cursor: pointer;
        }
        .fa.fa-link {
            color: $text-color;
        }
    }

    .content {
        @include article-style;
    }
    border: 1px solid #aaa;
    border-bottom: none;
    &:last-of-type {
        border-bottom: 1px solid #aaa;
    }
}

.load-more {
    &:hover {
        cursor: pointer;
        color: #888;
        @include linear-gradient(#f8f5ff, #f4f4f4, #f8f5ff);
    }
    font-weight: bold;
    color: #333;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    @include linear-gradient(to top, #e0dde7 5%, #f4f4f4 50%, #e0dde7 95%);
}

.copy-right {
    width: 100%;
    text-align: center;
    $color: #c2c2c2;
    color: darkent($color, 10%);
    text-shadow: 1px 0px $color;
    font-size: 12px;
    margin-bottom: 10px;
}


@import "mobile";