@import "../../bower_components/normalize-scss/normalize";

@import "variables";
@import "../../bower_components/bourbon/dist/bourbon";
@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/toastr/toastr";

body, html {
    height: 100%;
    width: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    color: #00B7FF;
}

.top-region {
    border-bottom: 1px solid #ddd;
    flex: 0 0 auto;
    box-shadow: 0 1px 1px 1px #ddd;
    @include display(flex);

    .welcome {
        width: 320px;
        @extend .btn;
        text-align: left;
        padding-left: 0;
    }

    #feed-meta-region {
        flex: 1 0 auto;
        background-color: #fff4ac;
        .title {
            font-weight: bold;
            @extend .btn;
        }
    }
}

.middle-region {
    display: flex;
    flex: 1 100%;
    .left-column {
        width: 320px;
        overflow-y: auto;
        flex: none;
        border-right: 1px solid #ddd;
    }

    .right-column {
        flex: 1 100%;
        overflow-y: auto;
        background: #f2f2f2 url('noise.png') top left;
    }
}

.bottom-region {
    border-top: 1px solid #ddd;
    flex: 0 1 auto;

    #feed-form {
        input {
            border: none;
        }
    }
}

$feed-item-bg: #f2f2f2;
#feed-list-region {
    li {
        background-color: $feed-item-bg;
        padding: 4px;
        margin: 1px 0;
        .title {
            @include ellipsis;
        }
        .author {
            color: $text-muted;
            font-size: 80%;
        }
    }
    li:hover {
        background-color: darken($feed-item-bg, 10%);
        cursor: pointer;
    }
}

$visited-article-title-bg: #c4c4c4;
$visited-article-title-color: #838383;
$article-title-bg: #ffffff;

.article {
    &.is-read {
        .title {
            background-color: $visited-article-title-bg;
            color: $visited-article-title-color;
            border: $visited-article-title-color;
        }
    }
    .title {
        background-color: $article-title-bg;
        margin: 0;
        padding: 4px;

        &:hover {
            background-color: darken($article-title-bg, 10%);
            cursor: pointer;
        }
        .fa.fa-link {
            color: #aaa;
        }
    }

    .content {
        padding: 20px;
        word-break: break-word;
        word-wrap: break-word;
        background-color: white;
        img {
            float: left;
            max-width: 100%;
            margin: 10px;
        }

        &:after {
            @extend .clearfix;
        }
    }
    border-top: 1px solid #aaa;
}

.load-more {
    &:hover {
        cursor: pointer;
        color: #888;
        @include linear-gradient(#f8f5ff, #f4f4f4, #f8f5ff);
    }
    font-weight: bold;
    color: #333;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    @include linear-gradient(to top, #e0dde7 5%, #f4f4f4 50%, #e0dde7 95%);
}


@import "mobile";