@import "../../bower_components/normalize-scss/normalize";

@import "variables";
@import "../../bower_components/bourbon/dist/bourbon";
@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/toastr/toastr";
@import "auth";
@import "article";
@import "mixins";


$tool-color: #e0dde7;
body, html {
    height: 100%;
    width: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    color: #00B7FF;
}

.top-region {
    @include top-region;
    .welcome {
        @include welcome;
    }
    #feed-meta-region {
        flex: 1 0 auto;
        .title {
            font-weight: bold;
            @extend .btn;
        }
    }
}

.middle-region {
    display: flex;
    flex: 1 100%;
    .left-column {
        width: 320px;
        overflow-y: auto;
        flex: none;
        background-color: #e9e9e9;
    }

    .right-column {
        flex: 1 100%;
        overflow-y: auto;
        background-color: white;
    }
}

.bottom-region {
    border-top: 1px solid #ddd;
    flex: 0 1 auto;

    #feed-form {
        input {
            border: none;
            background-color: $tool-color;
        }
    }
    background-color: $tool-color;

}

$feed-item-bg: #c2c2c2;
#feed-list-region {
    padding: 0 15px;
    li.active {
        @include selected-feed-item;
    }
    li {
        padding: 4px;
        margin: 0;
        color: #5b8187;

        .title {
            @include ellipsis;
        }
        .author {
            color: $text-muted;
            font-size: 80%;
        }
    }
    li:hover {
        @include hover-feed-item;
    }
}

$visited-article-title-bg: #e0e0e0;
$visited-article-title-color: $text-muted;
$article-title-bg: #ffffff;

.article {
    &.is-read {
        .title {
            background-color: $visited-article-title-bg;
            color: $visited-article-title-color;
            border: $visited-article-title-color;
        }
    }
    .title {
        background-color: $article-title-bg;
        margin: 0;
        padding: 10px;

        &:hover {
            background-color: darken($article-title-bg, 10%);
            cursor: pointer;
        }
        .fa.fa-link {
            color: #aaa;
        }
    }

    .content {
        @include article-style;
    }
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

.load-more {
    &:hover {
        cursor: pointer;
        color: #888;
        @include linear-gradient(#f8f5ff, #f4f4f4, #f8f5ff);
    }
    font-weight: bold;
    color: #333;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    @include linear-gradient(to top, #e0dde7 5%, #f4f4f4 50%, #e0dde7 95%);
}


@import "mobile";