<div class="row title">

    <div class="col-md-8">
        {{{title}}}
    </div>

    <div class="col-md-4 text-right">
        <time class="">{{ago pubdate}}</time>

        <a href="{{link}}" target="_blank" data-bypass>
            <i class="fa fa-link fa-fw"></i>
        </a>

        <i class="fa fa-bookmark-o fa-fw"></i>
    </div>
</div>

<div class="content" style="display: none">
</div>
