<div class="row">
    <div class="col-xs-9">
        <div class="title" title="{{title}}">{{title}}</div>
        <div class="author">{{author}}</div>
    </div>
    <div class="col-xs-3 text-right">
        <span class="unread-counter">{{unreadCount}}</span>
    </div>
</div>
